


body
{
    background-color: black;
    font-family: system-ui;
}

h1, h2
{
   /* font-family: 'droid_sansregular', 'Arial', sans-serif;*/
}

h1, h1 + p
{
    text-align: center;
} 

h2
{
    color: black;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}

#prenom
{
    color: #FF9800;

}

#sect_left
{   
    width: 33%;
    background-color: #FF9800;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    
}

#sect_right
{
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
#sect_right h2
{
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.1em solid #FF9800;
    width: 86%;
    margin: auto;
    margin-bottom: 1.2em;
    padding-bottom: 0.5em;
}
#sect_right h2 i
{
    margin-right: 5%;
    color: #FF9800;
}
section
{
    width: 100%;
}
#conteneur
{
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#photo 
{
  background-image: url('images/photopetite.png');
  border-radius:50%;
  width:160px;
  height:160px;
  border: 0.2em solid #EF6C00; 
  margin: auto;
  text-align: center;
}
#sect_left h2
{
    text-align: center;
    background-color: #263238;
    color: #FF9800;
    width: 100%;
}
section
{
    width: 100%;
    height: 100%;
    margin: 0% 0% 5% 0%;
}
section h2
{
    text-align: center;
}
.date
{
   display: flex;
   vertical-align: top;
   justify-content: flex-start;
   padding: 0;
}
table td
{
    border: 1px solid black;
    width: 100%;
}
.description
{
   vertical-align: baseline;

}
ul
{
    list-style: none;
}
.hobby
{
    border-radius:50%;
    width:3em;
    height:3em;
    border:0.1em solid #263238;


}
.hobby i
{
    color: #263238;
    margin-top: 0.3em;
    margin-left: 0.15em;
}
#hobbys
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#sect_right h1
{
    display: flex;
    justify-content: flex-start;
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: -webkit-xxx-large;
}
#sect_right h3
{
    display: flex;
    justify-content: flex-start;
    margin: 0 0 8% 10%;
    color: #424242;
}
#devel
{
    border-bottom: 0.15em solid #FF9800;
}
#proposmoi p
{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-bottom: 30%;
}
#recommandation
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#contact li
{
    margin-bottom: 1em;
}
#loisir 
{
    margin-top: 6em;
}
.dl
{
    margin-left: 3em;

}
.dl dt
{
    position: relative;
    left: 0;
    top: 2.7em;
    font-weight: bold;
}
.dl dd
{
    margin: 0 0 0 8em;
    padding: 0 0 .5em .5em;
}
section dl i
{
    margin-right: 0.5em;
    font-size: 0.8em;
    color: #FF9800;
}
.lieu
{
    margin-left: 1.2em;
}
.solve
{
    font-weight: bold;
}



@media only screen and (max-width: 500px)
{
body{

}
#photo 
{
  background-image: url('images/photopetite.png');
  border-radius:50%;
  width:160px;
  height:160px;
  border: 0.2em solid #EF6C00; 
  margin: auto;
  text-align: center;
  display: none;
}
#conteneur
{
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
}
#sect_left
{   
    width: 100%;
    background-color: #FF9800;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 19em;
}
#sect_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
#photomedia
{
  background-image: url("images/photopetite.png");
  border-radius:50%;
  width:160px;
  height:160px;
  border: 0.2em solid #EF6C00; 
  position: relative;
  left: 65%;
  top: 2em;
}
#sect_right h1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 8%;
    margin-top: -15%;
    margin-bottom: 0%;
    font-size: -webkit-xxx-large;
}
#hobbys {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin-left: 15%;
}
#loisir{
    margin: 0;
}
#contact li{
    margin: 0;
}
}